<ion-header>
  <ion-navbar>
    <ion-title> {{'TitlePage.Logistics' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onCloseModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-12>
        <b>{{classAPI.ClassCode}}</b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>
      <b>{{'Type' | translate}}</b>
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="logistic.Type.ID" (ionChange)="ionChangeLogType($event)">
      <ion-option [value]="ltype.ID" *ngFor="let ltype of logisticTypes">{{ltype.Type}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>Item</b>
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="logistic.Item.ID" class="logisticItemSelect">
      <ion-option [value]="logItem.ID" *ngFor="let logItem of logisticItems">{{logItem.Item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label fixed>
      <b>{{'Quantity' | translate}}</b>
    </ion-label>
    <ion-input type="number" [(ngModel)]="logistic.Qty" placeholder="Quantity of items"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>{{'Currency' | translate}}</b>
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="logistic.Item.MonetarySymbol">
      <ion-option [value]="monetary.ID" *ngFor="let monetary of monetarySymbol">{{monetary.Currency}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label fixed>
      <b>{{'TotalCost' | translate}}</b>
    </ion-label>
    <ion-input type="text" [(ngModel)]="logistic.Cost" placeholder="Total Cost"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed class="logisticDate">
      <b>{{'Date' | translate}}</b>
    </ion-label>
    <ion-datetime displayFormat="{{currentCulture | localeFormat:currentCulture}}" [(ngModel)]="logistic.Date"></ion-datetime>
  </ion-item>

  <ion-card>
    <ion-card-header>
      Uploaded Docs
    </ion-card-header>

    <ion-list>
      <ion-item-sliding #item *ngFor="let file of logistic.Files">
        <ion-item>
          <ion-row align-items-center>
            <ion-col col-9>
              <ion-icon name="document"></ion-icon>
              {{file.FileName}}
            </ion-col>
            <ion-col col-3>
              <button ion-button color="danger" (click)="removeFile(logistic)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
        <button ion-button color="danger" (click)="remove(logistic)">
          <ion-icon name="trash"></ion-icon>
          {{'Remove' | translate}}
        </button>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <b>{{'Receipt' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon name="add-circle"></ion-icon>
        </ion-col>
        <ion-col col-12>
          <button full ion-button color="secondary" small (click)="getDocument()">{{'SearchFile' | translate}}</button>
        </ion-col>
        <ion-col col-12>
          <button full ion-button (click)="uploadFile()" small>{{'UploadDocument' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>