page-modal-logistic {
  ion-label {
    color: black;
  }

  .ion-datetime {
    text-align: right;
    width: 100%;
  }

  .text-input {
    text-align: right;
  }

  .logisticItemSelect{
    max-width: 100% !important;
  }

  .logisticDate{
   flex:1 !important;
   max-width: 223px !important;
  }
}
