<ion-header>
  <ion-navbar>
    <ion-title>
      Billing
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-12 padding-vertical text-center>
        <b>FF2137_CL0001</b>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <div class="status">
      <button ion-button small>UPDATE</button>
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png">
      </ion-avatar>
      <b>Angelo Martins da Silva Medeiros</b>
      <p>Triumph Flagshipstore NL Frankfurt</p>
      <p>Cargos</p>
    </ion-item>
    <ion-item style="padding-left:20px; padding-right:150px;">
      <ion-label>
        <b>Billed</b>
      </ion-label>
      <ion-select interface="popover">
        <ion-option [value]="true">YES</ion-option>
        <ion-option selected [value]="false">NO</ion-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <b>Billing Date</b>
        </ion-col>
        <ion-col col-4>
          <b>Billing By</b>
        </ion-col>
        <ion-col col-4 text-right>
          <b>Value</b>
        </ion-col>
        <ion-col>
          29-01/2018
        </ion-col>
        <ion-col>
          Danilo Cecilia
        </ion-col>
        <ion-col text-right>
          125.00
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div class="status">
      <!-- <div (click)="onClickUpdate()">UPDATE</div> -->
      <button ion-button small>UPDATE</button>
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png">
      </ion-avatar>
      <b>Angelo Martins da Silva Medeiros</b>
      <p>Triumph Flagshipstore NL Frankfurt</p>
      <p>Cargos</p>
    </ion-item>
    <ion-item style="padding-left:20px; padding-right:150px;">
      <ion-label>
        <b>Billed</b>
      </ion-label>
      <ion-select interface="popover">
        <ion-option [value]="true">YES</ion-option>
        <ion-option selected [value]="false">NO</ion-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <b>Billing Date</b>
        </ion-col>
        <ion-col col-4>
          <b>Billing By</b>
        </ion-col>
        <ion-col col-4 text-right>
          <b>Value</b>
        </ion-col>
        <ion-col>
          29-01/2018
        </ion-col>
        <ion-col>
          Danilo Cecilia
        </ion-col>
        <ion-col text-right>
          125.00
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>