<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Billings' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-12 padding-vertical text-center>
        <b>{{currentClass.ClassCode}}</b>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let b of billings">
    <div class="status">
      <button ion-button small (click)="update(b)">{{'Update' | translate}}</button>
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{baseUrl}}{{b.User.Thumbnail}}">
      </ion-avatar>
      <b>{{b.User.Name}}</b>
      <p>{{b.User.Organization.Organization}}</p>
      <p>{{b.User.JobRolesStringfied}}</p>
    </ion-item>
    <ion-item style="padding-left:20px; padding-right:150px;">
      <ion-label>
        <b>{{'Billed' | translate}}</b>
      </ion-label>
      <ion-select [(ngModel)]="b.Billed" interface="popover">
        <ion-option [value]="true">{{'Yes' | translate}}</ion-option>
        <ion-option [value]="false">{{'No' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <b>{{'BillingDate' | translate}}</b>
        </ion-col>
        <ion-col col-4>
          <b>{{'BillingBy' | translate}}</b>
        </ion-col>
        <ion-col col-4 text-right>
          <b>{{'Value' | translate}}</b>
        </ion-col>
        <ion-col>
          {{b.BillingDate | localeDate:currentCulture}}
        </ion-col>
        <ion-col>
          {{b.BillingBy}}
        </ion-col>
        <ion-col text-right>
          {{b.Value}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>