<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.PasswordRecovery' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12>
        <ion-thumbnail>
          <img class="center" src="assets/img/logo.png" width="98px" height="98px">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-12 text-center>
        <span class="welcome">MSX LEARN</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="Email" formControlName="username" clearInput></ion-input>
          </ion-item>

          <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
            <p>{{'ValidatorMessage.Required' | translate:username}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
            <p>{{'ValidatorMessage.Pattern' | translate}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
            <p>{{'ValidatorMessage.UserMinLength' | translate:minlength}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">
            <p>{{'ValidatorMessage.UserMaxLength' | translate:maxlength}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button color="primary" round full [disabled]="!authForm.valid" type="submit">{{'Recover' | translate}}</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>