curriculums {
  .progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 1px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
    font-size: xx-small;
  }

  .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
    border-radius: 20px;
    background-color: map-get($colors, primary);
  }

  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0;
  }
  .swiper-container-horizontal > .swiper-pagination {
    display: flex;
    bottom: 0px;
    background-color: #e0e0e079;
    height: 3px;
  }
  .swiper-pagination-bullet {
    width: 50%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.24);
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #fa3;
    transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  }
  .swiper-pagination-black .swiper-pagination-bullet-active {
    background: map-get($colors, secondary);
  }

  .slider-item {
    width: 50%;
    background-size: cover;
  }
  .slide-zoom {
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.22)) !important;
  }
  
  .slide-text {
    text-align: center;
  }

  .text-center {
    text-align: center;
    color: rgb(17, 6, 6);
  }

  ion-img {
    display: inline-block;
    min-width: 350px;
    min-height: 150px;
    background: #eee;
    contain: strict;
  }

  ion-slides {
    background: map-get($colors, light);

    h6 {
      color: white;
    }
  }

  ion-card {
    .item {
      background: map-get($colors, secondary);

      h2 {
        color: white;
      }
    }

    .more-info {
      margin-right: 12px;
      margin-left: 12px;
      font-weight: 600;
    }
  }

  //ION-ITEM
  .item-block {
    min-height: 0;
  }
}
