<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <img class="center" src="assets/img/logo.png">
            </ion-col>
            <ion-col col-12 text-center class="space">
                <span class="welcome">MSX LEARN</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item class="input-text">
                        <ion-input type="text" placeholder="Email" formControlName="username" clearInput></ion-input>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
                        <p>Sorry, field username is required!</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
                        <p>Sorry, only small and capital letters are allowed!</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
                        <p>Sorry, minimum username length is 8!</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">
                        <p>Sorry, maximum username length is 30!</p>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="input-text">
                        <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
                        <p>Sorry, field password is required!</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
                        <p>Sorry, minimum password length is 8!</p>
                    </ion-item>
                </ion-col>
                <ion-col text-center col-12>
                    <button ion-button [round]="true" color="primary" full [disabled]="!authForm.valid" class="login" type="submit">LOGIN</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-row class="forgot-password">
        <ion-col text-center col-12>
            <button ion-button full color="primary" [round]="true" (click)="goToPasswordRecovery()">FORGOT PASSWORD?</button>
        </ion-col>
    </ion-row>
</ion-content>