<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <img class="center" src="assets/img/logo.png">
            </ion-col>
            <ion-col col-12 text-center class="space">
                <span class="welcome">MSX LEARN</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item class="input-text">
                        <ion-input type="text" placeholder="Login" formControlName="username" clearInput></ion-input>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
                        <p>{{'ValidatorMessage.Required' | translate:username}}</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('pattern') && authForm.controls.username.touched">
                        <p>{{'ValidatorMessage.Pattern' | translate}}</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
                        <p>{{'ValidatorMessage.UserMinLength' | translate:minlength}}</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">
                        <p>{{'ValidatorMessage.UserMaxLength' | translate:maxlength}}</p>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="input-text">
                        <ion-input formControlName="password" placeholder="{{'Password' | translate}}" type="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
                        <p>{{'ValidatorMessage.Required' | translate:password}}</p>
                    </ion-item>
                    <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
                        <p>{{'ValidatorMessage.PassMinLength' | translate:minlength}}</p>
                    </ion-item>
                </ion-col>
                <ion-col text-center col-12>
                    <button ion-button [round]="true" color="primary" full [disabled]="!authForm.valid" class="login" type="submit">{{ 'Login' | translate }}</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-row class="forgot-password">
        <ion-col text-center col-12>
            <button ion-button full color="primary" [round]="true" (click)="goToPasswordRecovery()">{{'ForgotPassword' | translate}}</button>
        </ion-col>
    </ion-row>
</ion-content>