<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Grades' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-9 padding-vertical>
        <b>{{enrollments.ClassAPI.ClassCode}}</b>
      </ion-col>
      <ion-col col-3>
        <button ion-button small (click)="updateGradeHistory()">{{'Update' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content>
    <ion-card *ngFor="let e of enrollments.Histories">
      <div class="status">
        <button ion-button small outline color="secondary">{{('HistoryStatus.' + e.Status) | translate}}</button>
      </div>
      <ion-item class="card-head">
        <ion-avatar item-start>
          <img src="{{baseUrl}}/{{e.User.Thumbnail}}">
        </ion-avatar>
        <b>{{e.User.Name}}</b>
        <p>Triumph Flagshipstore NL Frankfurt</p>
        <p>{{e.User.JobRolesStringfied}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'Presence' | translate}}</ion-label>
        <ion-select [(ngModel)]="e.Presence" interface="popover">
          <ion-option [value]="true">{{'Yes' | translate}}</ion-option>
          <ion-option [value]="false">{{'No' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!e.Presence">
        <ion-label>{{'Justify' | translate}}</ion-label>
        <ion-select [(ngModel)]="e.Justified" interface="popover">
          <ion-option [value]="0">{{'NoShow' | translate}}</ion-option>
          <ion-option [value]="1">{{'Justified' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="e.Presence">
        <ion-label>{{'PreTest' | translate}}</ion-label>
        <ion-select [(ngModel)]="e.PreTest" interface="popover">
            <ion-option *ngFor="let g of grades" [value]="g">{{g}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="e.Presence">
        <ion-label>{{'PostTest' | translate}}</ion-label>
        <ion-select [(ngModel)]="e.PostTest" interface="popover">
            <ion-option *ngFor="let g of grades" [value]="g">{{g}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </ion-content>