<ion-header>
  <ion-navbar>
    <ion-title>
      {{'PagesTitle.EnrollUsers' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom" class="border-bottom">
      <ion-col col-12 padding-vertical>
        <b>{{event.Class}}</b>
      </ion-col>
      <ion-col col-12>
        {{'Seats' | translate}}: 14 {{'of' | translate}} 14 / {{'SeatsByOrganization' | translate}}: 2
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{'Search' | translate}}" showCancelButton (ionCancel)="onCancel($event)"></ion-searchbar>

  <ion-grid>
    <ion-row class="border-bottom" *ngFor="let e of enrollments.Histories">
      <ion-col col-3>
        <ion-avatar item-start>
          <img src="{{e.User.Thumbnail}}">
        </ion-avatar>
        
      </ion-col>
      <ion-col col-9 class="font-sm">
        <ion-list no-margin>
          <ion-item-sliding #item>
            <ion-item>
              <b>{{e.User.Name}}</b>
              <p>{{e.User.Email}}</p>
              <p>{{e.User.Phone}}</p>
              <p>{{e.User.JobRolesStringfied}}</p>
              <p>{{e.User.Organization.Organization}}</p>
              <p>{{e.User.Organization.Country}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="secondary" (click)="unread(item)">
                <ion-icon name="person-add"></ion-icon>
                {{'Enroll' | translate}}
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>