es-enroll {
  .font-sm {
    font-size: 0.8em;
  }

  .font-xm {
    font-size: 0.7em;
  }

  .border-bottom {
    border-bottom: 2px solid;
    border-color: lightgray;
  }

  .item {
    font-size: 1em;
    padding-left: 0px;
  }


  .label {
    font-size: 1em;
    margin: 0;
    p {
      margin: 0px;
      font-size: 1em;
      color: black;
    }
  }
}
