  .alert-title{
    color: map-get($colors, primary) !important;
    font-size: 20px !important;
  }
  
  .toolbar-title {
    overflow: visible;
    position: relative;
    .subtitle {
      position: relative;
      top: 4px;
      font-size: 66%;
      margin: 0;
    }
  }
