<ion-header>
  <ion-navbar>
    <ion-title>Training File</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header-title">
      <ion-col col-10>
        GORE-TEX Membrane
      </ion-col>
      <ion-col col-2 text-right>
        <ion-icon name="desktop"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-row class="border-bottom">
      <ion-col col-12 class="card-subtitle">
        <ion-icon name="document"></ion-icon> Gore-Text Membrane Technology
      </ion-col>
      <ion-col col-12 class="font-sm">
        PDF File, 1.84 MB
      </ion-col>
      <ion-col class="font-sm">
        Bares temporários, ou “pop-up”, como são mais conhecidos, têm se tornado cada vez mais populares entre bartenders e proprietários
        de bar. Podem ser montados para eventos ou mesmo dentro de seu estabelecimento, e são um bom modo de alavancar as
        vendas e tornar seu negócio mais conhecido. Além disso, também podem ser uma boa oportunidade para criar e testar
        novas receitas e atrair novos clientes. Mas como montar um bar pop-up? Dê uma olhada em nossas dicas de como você
        pode começar.
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="border-bottom">
      <ion-col col-12 class="card-subtitle">
        <ion-icon name="document"></ion-icon> Gore-Text Membrane Technology
      </ion-col>
      <ion-col col-12 class="font-sm">
        PDF File, 1.84 MB
      </ion-col>
      <ion-col class="font-sm">
        Bares temporários, ou “pop-up”, como são mais conhecidos, têm se tornado cada vez mais populares entre bartenders e proprietários
        de bar. Podem ser montados para eventos ou mesmo dentro de seu estabelecimento, e são um bom modo de alavancar as
        vendas e tornar seu negócio mais conhecido. Além disso, também podem ser uma boa oportunidade para criar e testar
        novas receitas e atrair novos clientes. Mas como montar um bar pop-up? Dê uma olhada em nossas dicas de como você
        pode começar.
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>