page-user-profile {
  .label-size {
    width: 21%;
  }

  .text-input {
    background: rgba(211, 211, 211, 0.54);
    font-size: 2rem;
    // margin-top: 0px !important;
    // margin-bottom: 0px;
  }
}
