<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.ProfileSettings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-avatar item-start (click)="updateProfileImage()">
        <img src="data:image/png;base64,{{loggedUser.Thumbnail}}">
      </ion-avatar>
      <p class="username">{{loggedUser.Name}}</p>
      <p>{{('Profile.' + loggedUser.Profile) | translate}}</p>
    </ion-list-header>
  </ion-list>
  <ion-list no-border>
    <ion-list-header color="secondary">
      Personal Info
    </ion-list-header>
    <ion-item>
      <ion-label>App Language</ion-label>
      <ion-select [(ngModel)]="currentLanguage.code">
        <ion-option *ngFor="let l of optionLanguages" [value]="l.code">{{l.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input [(ngModel)]="loggedUser.Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input [(ngModel)]="loggedUser.LastName"></ion-input>
    </ion-item>

  </ion-list>
  <ion-list no-border>
    <ion-list-header color="secondary">
      Address Info
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Address Line 1</ion-label>
      <ion-input placeholder="Address Line 1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address Line 2</ion-label>
      <ion-input placeholder="Address Line 2"></ion-input>
    </ion-item>
    <ion-item>

      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="country">
        <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="label-size">State</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Postal Code</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="secondary">
      Phone Info
    </ion-list-header>
    <ion-item>
      <ion-label class="label-size">Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label-size">Fax</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <button ion-button full (click)="onClickSave()">SAVE</button>
  </ion-item>
</ion-content>