<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.ProfileSettings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="userProfile">
    <ion-list>
      <ion-list-header>
        <!-- <ion-avatar item-start >
        <img src="data:image/png;base64,{{loggedUser.Thumbnail}}">
      </ion-avatar> -->
        <ion-icon name="md-add-circle" class="profile-avatar-mask"></ion-icon>
        <ion-avatar item-start (click)="updateProfileImage()">
          <img class="user-avatar round" *ngIf="loggedUser != null && loggedUser.Thumbnail != undefined" src="data:image/png;base64,{{loggedUser.Thumbnail}}"
            onerror="this.src='assets/img/thumbnail.png'">
        </ion-avatar>

        <p class="username">{{loggedUser.Name}}</p>
        <p>{{('Profile.' + loggedUser.Profile) | translate}}</p>
      </ion-list-header>
    </ion-list>
    <ion-list no-border>
      <ion-list-header color="secondary">
        {{'PersonalInfo' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label>{{'AppLanguage' | translate}}</ion-label>
        <ion-select [(ngModel)]="currentLanguage.ID" (ionChange)="languageChanged()">
          <ion-option *ngFor="let l of optionLanguages" [value]="l.ID">{{l.Language}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{'FirstName' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.FirstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LastName' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.LastName"></ion-input>
      </ion-item>

    </ion-list>
    <ion-list no-border>
      <ion-list-header color="secondary">
        {{'AddressInfo' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label stacked>{{'AddressLine1' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.Address1" placeholder="Address Line 1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'AddressLine2' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.Address2" placeholder="Address Line 2"></ion-input>
      </ion-item>
      <ion-item>

        <ion-label>{{'Country' | translate}}</ion-label>
        <ion-select [(ngModel)]="currentCountry.name">
          <ion-option *ngFor="let country of optionCountries" [value]="country.name">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="label-size">{{'State' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.State"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PostalCode' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.PostalCode"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="secondary">
        {{'PhoneInfo' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label class="label-size">{{'Phone' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.Phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label-size">{{'Fax' | translate}}</ion-label>
        <ion-input [(ngModel)]="userProfile.Address.Fax"></ion-input>
      </ion-item>
    </ion-list>

    <div style="margin:15px">
      <button ion-button full (click)="onClickSave()">{{'Save' | translate}}</button>
    </div>
  </div>
</ion-content>