<ion-header>
  <ion-navbar>
    <ion-title>Profile Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-avatar item-start (click)="updateProfileImage()">
        <img [src]="user.imageUrl ? user.imageUrl : placeholderPicture">
      </ion-avatar>
      <p class="username">{{user.name}}</p>
      <p>Owner</p>
    </ion-list-header>
  </ion-list>
  <ion-list no-border>
    <ion-list-header>
      Personal Info
    </ion-list-header>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name='settings' item-start></ion-icon>
      <ion-label>App Language</ion-label>
      <ion-select [(ngModel)]="language">
        <ion-option *ngFor="let language of languages" [value]="language.code">{{language.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list no-border>
    <ion-list-header>
      Address Info
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Address Line 1</ion-label>
      <ion-input placeholder="Address Line 1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Address Line 2</ion-label>
      <ion-input placeholder="Address Line 2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name='globe' item-start></ion-icon>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="country">
        <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>State</ion-label>
      <ion-input placeholder="State"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Postal Code</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Phone Info
    </ion-list-header>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fax</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <button ion-button full (click)="onClickSave()">SAVE</button>
  </ion-item>
  <!-- <ion-list>
    <ion-list-header>
      Other
    </ion-list-header>
    <ion-item>
      <ion-icon name='power' item-start></ion-icon>
      <button ion-button (click)="logOut()" item-end>
        Logout
      </button>
    </ion-item>
  </ion-list> -->
</ion-content>