  .item-inner {
    margin-left: 10px !important;
  }
  
  .list .list-ios {
    margin-top: 43px;
  }

  .read .title {
    color: gray;
    font-weight: 100;
  }

  .read .summary {
    color: gray;
    font-weight: 100;
  }

  .unread .summary {
    color: #0063bc;
    font-weight: 600;
  }

  .unread .title {
    color: #003e75;
    font-weight: 600;
  }
