event-summary {
    .icon{
        font-size:25px;
        padding:5px;
    }

    .title{
        font-size: 15px;
    }

    .incoming{
        color: green;
    }

    .outgoing{
        color: red;
    }

    b{
        font-size:13px;
    }
}
