<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.EventSummary' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item text-center class="title">
    <b>{{event.Class}}</b>
  </ion-item>

  <accordion-list title="Downloads" textColor="#ffffff" hasMargin="false" headerColor="#003e75" [expanded]="index === 0">
    <ion-col col-12 text-center>
      <button full ion-button small round (click)="downloadFile(eventSummary.Download.PresenceList, 'xlsx')">{{'PresenceList' | translate}}</button>
    </ion-col>
    <ion-col col-12 text-center>
      <button full ion-button small round (click)="downloadFile(eventSummary.Download.PreTest, 'docx')">{{'PreTest' | translate}}</button>
    </ion-col>
    <ion-col col-12 text-center>
      <button full ion-button small round (click)="downloadFile(eventSummary.Download.PostTest, 'docx')">{{'PostTest' | translate}}</button>
    </ion-col>
  </accordion-list>


  <accordion-list title="{{'Actions' | translate}}" textColor="#ffffff" hasMargin="false" headerColor="#003e75" [expanded]="index === 0">
    <ion-col col-12>
      <ion-item>
        <ion-label color="secondary">Status</ion-label>
        <ion-select [(ngModel)]="event.Status" interface="popover" (ionChange)="onChangeStatus($event)">
          <ion-option value="0">{{'HistoryStatus.NOT_STARTED' | translate}}</ion-option>
          <ion-option value="1">{{'HistoryStatus.IN_PROGRESS' | translate}}</ion-option>
          <ion-option value="2">{{'HistoryStatus.FINISHED' | translate}}</ion-option>
          <ion-option value="3">{{'HistoryStatus.CANCELLED' | translate}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-12 text-center>
      <ion-item>
        <ion-label color="secondary">{{'Step' | translate}}</ion-label>
        <ion-select [(ngModel)]="event.Step" interface="popover" (ionChange)="onChangeStep($event)">
          <ion-option value="0">{{'PRE_TEST' | translate}}</ion-option>
          <ion-option value="1">{{'Training' | translate}}</ion-option>
          <ion-option value="2">{{'POST_TEST' | translate}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </accordion-list>

  <ion-grid>
    <ion-row class="border-bottom" (click)="onClickEnrollment()">
      <ion-col col-12>
        <ion-icon class="icon" color="secondary" name="people"></ion-icon> {{'Enrollments' | translate}}</ion-col>
      <ion-col col-6 class="font-sm">{{'Seats' | translate}}:</ion-col>
      <ion-col col-6 class="font-sm" text-right>
        <b>{{event.QtdyEnrolledUsers}} {{'of' | translate}} {{event.Seats}}</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom" (click)="onClickGrades()">
      <ion-col col-12>
        <ion-icon class="icon" color="secondary" name="star"></ion-icon> {{'Grades' | translate}}</ion-col>
      <ion-col col-6 class="font-sm">{{'Average' | translate}}:</ion-col>
      <ion-col col-6 class="font-sm" text-right>
        <b>80.00</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom" (click)="onClickLogistics()">
      <ion-col col-12>
        <ion-icon class="icon" color="secondary" name="car"></ion-icon> {{'Logistics' | translate}}</ion-col>
      <ion-col col-6 class="font-sm">{{'Expenses' | translate}}:</ion-col>
      <ion-col col-6 class="font-sm" text-right>
        <b>$750.00</b>
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom" (click)="onClickBilling()">
      <ion-col col-12>
        <ion-icon class="icon" color="secondary" name="cash"></ion-icon> {{'Billings' | translate}}</ion-col>
      <ion-col col-6 class="font-sm">{{'Revenues' | translate}}:</ion-col>
      <ion-col col-6 class="font-sm" text-right>
        <b>$ 2500.00</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>