course-steps {
  .disabled-icon {
    background: rgba($color: #46a4da, $alpha: 0.5) !important
  }

  .disabled-card-content {
    color: lightgray;
  }

  // Unstyled keeps list items block level, just removes default browser padding and list-style
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
}
