<ion-header>
    <ion-navbar>
        <ion-title>{{'TitlePage.CourseSteps' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <timeline endIcon="call" *ngIf="tSteps">
        <timeline-item *ngFor="let step of tSteps.Steps; let i = index">
            <timeline-time [time]="step.Subject"></timeline-time>
            <ion-icon *ngIf="step.Enable">{{i + 1}}</ion-icon>
            <ion-icon *ngIf="!step.Enable" class="disabled-icon">{{i + 1}}</ion-icon>
            <ion-card>
                <ion-card-header>
                    <button *ngIf="step.Enable" ion-button small (click)="startAssessment(step)">{{step.Subject}}</button>
                    <button *ngIf="!step.Enable" disabled ion-button small (click)="startAssessment()">{{step.Subject}}</button>
                </ion-card-header>
                <ion-card-content *ngIf="step.Enable">
                    {{step.Message}}
                </ion-card-content>
                <ion-card-content *ngIf="!step.Enable" class="disabled-card-content">
                    {{step.Message}}
                </ion-card-content>
            </ion-card>
        </timeline-item>
    </timeline>
</ion-content>