<ion-header>
    <ion-navbar>
        <ion-title>Course Steps</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <timeline endIcon="call">
        <timeline-item *ngFor="let item of items; let i = index">
            <timeline-time [time]="item.time"></timeline-time>
            <ion-icon *ngIf="item.enable">{{i + 1}}</ion-icon>
            <ion-icon *ngIf="!item.enable" style="background:#46a4da82">{{i + 1}}</ion-icon>
            <ion-card>
                <ion-card-header>
                    <button *ngIf="item.enable" ion-button small (click)="startAssessment()">{{item.title}}</button>
                    <button *ngIf="!item.enable" disabled ion-button small (click)="startAssessment()">{{item.title}}</button>
                </ion-card-header>
                <ion-card-content *ngIf="item.enable">
                    {{item.content}}
                </ion-card-content>
                <ion-card-content *ngIf="!item.enable" style="color:lightgray">
                    {{item.content}}
                </ion-card-content>
            </ion-card>
        </timeline-item>
    </timeline>
</ion-content>