course-steps {
    // ion-grid {
    //     height: 100%;
      
    //     ion-row {
    //       height: 10%;
    //     }
    //   }

  .wizard_verticle .stepContainer {
    width: 80%;
    float: left;
    padding: 0 10px;
  }
  
  .wizard_verticle .wizard_content {
    width: 80%;
    float: left;
    padding-left: 20px;
  }
  .wizard_verticle ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 20%;
    float: left;
    margin: -20px 0 0px;
  }
//   .wizard_verticle ul.wizard_steps li {
//     display: list-item;
//     text-align: center;
//   }
  .wizard_verticle ul.wizard_steps li a {
    height: 130px;
  }
  .wizard_verticle ul.wizard_steps li a:first-child {
    margin-top: 20px;
  }
  .wizard_verticle ul.wizard_steps li a,
  .wizard_verticle ul.wizard_steps li:hover {
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    color: #666;
  }
  .wizard_verticle ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 100%;
    background: #ccc;
    top: 20px;
    width: 4px;
    z-index: 4;
    left: 49%;
  }
  .wizard_verticle ul.wizard_steps li a.disabled .step_no {
    background: #ccc;
  }
  .wizard_verticle ul.wizard_steps li a .step_no {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 13px;
    text-align: center;
    //position: relative;
    z-index: 5;
  }

  .progress.progress_sm,
  .progress.progress_sm .progress-bar {
    height: 10px !important;
  }
  .step_no,
  .wizard_verticle ul.wizard_steps li a.selected:before {
    background: #34495e;
    color: #fff;
  }
//   .wizard_verticle ul.wizard_steps li a.done .step_no,
//   .wizard_verticle ul.wizard_steps li a.done:before {
//     background: #1abb9c;
//     color: #fff;
//   }
  .wizard_verticle ul.wizard_steps li:first-child a:before {
    left: 49%;
  }
  .wizard_verticle ul.wizard_steps li:last-child a:before {
    left: 49%;
    left: auto;
    width: 0;
  }

  // Unstyled keeps list items block level, just removes default browser padding and list-style
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
}
