<ion-header>
  <ion-navbar>
    <ion-title>{{'MenuProfile.ChangePassword' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12>
        <ion-thumbnail>
          <img class="center" src="assets/img/logo.png" width="98px" height="98px">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-12 text-center>
        <span class="welcome">MSX LEARN</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="input-text">
            <ion-input #input type="password" formControlName="currentPassword" clearOnEdit="false" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.currentPassword.hasError('required') && authForm.controls.currentPassword.touched">
            <p>{{'ValidatorMessage.Required' | translate:password}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.currentPassword.hasError('minlength') && authForm.controls.currentPassword.touched">
            <p>{{'ValidatorMessage.PassMinLength' | translate:minlength}}</p>
          </ion-item>

          <ion-item class="input-text">
            <ion-input formControlName="newPassword" placeholder="New Password" type="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.newPassword.hasError('required') && authForm.controls.newPassword.touched">
            <p>{{'ValidatorMessage.Required' | translate:newpassword}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.newPassword.hasError('minlength') && authForm.controls.newPassword.touched">
            <p>{{'ValidatorMessage.PassMinLength' | translate:minlength}}</p>
          </ion-item>

          <ion-item class="input-text">
            <ion-input formControlName="repeatPassword" placeholder="Repeat Password" type="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.repeatPassword.hasError('required') && authForm.controls.repeatPassword.touched">
            <p>{{'ValidatorMessage.Required' | translate:confirmpassword}}</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.repeatPassword.hasError('minlength') && authForm.controls.repeatPassword.touched">
            <p>{{'ValidatorMessage.PassMinLength' | translate:minlength}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button color="primary" round full [disabled]="!authForm.valid" type="submit">OK</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>