es-enrollments {

  // $item-stable-active-border:       #856363;

  .font-sm {
    font-size: 0.8em;
  }

  .font-xm {
    font-size: 0.7em;
  }

  .item {
    font-size: 1em;
    padding-left: 0px;
  }

  .label {
    font-size: 1em;
    margin: 0;
    p {
      margin:0px;
      font-size: 1em;
      color: black;
    }
  }

  .border-bottom {
    border-bottom: 1px solid;
    border-color: lightgray;
  }
}
