<ion-header>
  <ion-navbar>
    <ion-title>
      Enrollments
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-9 padding-vertical>
        <b>FF2137_CL0001</b>
      </ion-col>
      <ion-col col-3 text-right>
        <button ion-button small float-right> Enroll</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-3>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
        </ion-avatar>
        <!-- <ion-icon name="person" style="font-size:70px;"></ion-icon> -->
      </ion-col>
      <ion-col col-5 class="font-xm">
        <b>Angelo Martins</b> amartins@msxi.com +5511992028376 Aftersales Manager Triumph Flagshipstore NL Frankfurt Germany
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col col-3>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-han.png">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="font-xm">
        <b>Angelo Martins</b> amartins@msxi.com +5511992028376 Aftersales Manager Triumph Flagshipstore NL Frankfurt Germany
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col col-3>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-rey.png">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="font-xm">
        <b>Angelo Martins</b> amartins@msxi.com +5511992028376 Aftersales Manager Triumph Flagshipstore NL Frankfurt Germany
      </ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col col-3>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png">
        </ion-avatar>
      </ion-col>
      <ion-col col-5 class="font-xm">
        <b>Angelo Martins</b> amartins@msxi.com +5511992028376 Aftersales Manager Triumph Flagshipstore NL Frankfurt Germany
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>