library {
  ion-avatar {
    font-size: 50px;
  }

  .category {
    float: left;
    width: 60%;
    margin-top: 10px;
  }

  .date {
    float: left;
    width: 100%;
  }

  .summary {
    border-bottom: 1px solid;
    border-color: lightgray;
    padding-bottom: 5px;
  }
}
