<ion-footer>
    <!-- <ion-toolbar>
        <ion-tabs tabs-only tabsLayout="icon-start" color="dark">
            <ion-tab tabTitle="Recents" tabIcon="call" [root]="root" tabBadge="1" tabBadgeStyle="danger"></ion-tab>
            <ion-tab tabTitle="Favorites" tabIcon="heart" [root]="root"></ion-tab>
            <ion-tab tabTitle="Settings" tabIcon="settings" [root]="root"></ion-tab>
        </ion-tabs>
    </ion-toolbar> -->
    <!-- <ion-toolbar>
        <ion-grid style="height: 100%">
            <ion-row justify-content-center style="height: 100%">
                <ion-col col-2 text-center padding-right>
                    <ion-buttons middle>
                        <button ion-button icon-only color="dark" (click)="openModal()">
                            <ion-icon name="md-book"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-2 text-center padding-right>
                    <ion-buttons middle>
                        <button ion-button icon-only color="dark">
                            <ion-icon name="md-calendar"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-2 text-center padding-right>
                    <ion-buttons middle>
                        <button ion-button icon-only color="dark">
                            <ion-icon name="md-briefcase"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-2 text-center padding-right>
                    <ion-buttons middle>
                        <button ion-button icon-only color="dark">
                            <ion-icon name="md-images"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
                <ion-col col-2 text-center padding-right>
                    <ion-buttons middle>
                        <button ion-button icon-only color="dark">
                            <ion-icon name="md-notifications"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar> -->
</ion-footer>