<ion-list style="margin-top:56px;">
  <ion-item class="{{nt.Status == 'READ' ? 'read item item-block item-md' : 'unread item item-block item-md'}}" no-line (click)="openNotification(nt)" *ngFor="let nt of notifications?.Notifications">
    <ion-icon name="mail{{nt.Status == 'READ' ? '-open' : ''}}" color="{{nt.Status == 'READ' ? 'read' : 'primary'}}" item-start></ion-icon>
    <p color="secundary" class="title">{{nt.Notification}}</p>
    <p text-wrap class="summary subtitle">{{nt.Summary}}</p>
  </ion-item>
</ion-list>