<ion-title text-center>Notification</ion-title>

<ul class="timeline widget" padding>
  <li padding-top (click)="openNotification()">
    <h6>
      <ion-icon name="heart"></ion-icon>
      <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
    </h6>
    <div class="byline">
      <span>published at 03/01/2017</span> by
      <a>Jane Smith</a>
    </div>
    <p>Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your
      project, and if the buyers liked your flick, they’d pay to Fast-forward and…
    </p>
  </li>

  <li padding-top>
    <h6 class="title">
      <ion-icon name="heart"></ion-icon>
      <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
    </h6>
    <div class="byline">
      <span>published at 03/01/2017</span> by
      <a>Jane Smith</a>
    </div>
    <p>Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your
      project, and if the buyers liked your flick, they’d pay to Fast-forward and…
    </p>
  </li>

  <li padding-top>
    <h6 class="title">
      <ion-icon name="heart"></ion-icon>
      <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
    </h6>
    <div class="byline">
      <span>published at 03/01/2017</span> by
      <a>Jane Smith</a>
    </div>
    <p>Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your
      project, and if the buyers liked your flick, they’d pay to Fast-forward and…
    </p>
  </li>

  <li padding-top>
    <h6 class="title">
      <ion-icon name="heart"></ion-icon>
      <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
    </h6>
    <div class="byline">
      <span>published at 03/01/2017</span> by
      <a>Jane Smith</a>
    </div>
    <p>Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your
      project, and if the buyers liked your flick, they’d pay to Fast-forward and…
    </p>
  </li>
</ul>

<!-- <ion-tabs tabs-only tabsLayout="icon-start" color="dark">
    <ion-tab tabTitle="Recents" tabIcon="call" [root]="root" tabBadge="1" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="heart" [root]="root"></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="settings" [root]="root"></ion-tab>
</ion-tabs> -->