<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button *ngIf="!isButtonsHidden" ion-button (click)="openDashboard()" icon-only>
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-button icon-only color="dark">
        <ion-icon name="navigate"></ion-icon>
      </button>
      <button *ngIf="!isButtonsHidden" ion-button (click)="openQRCode()" icon-only>
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button menuToggle ion-button icon-only right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MSX Learn</ion-title>
  </ion-toolbar>
</ion-header>
