<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        Users
      </ion-col>
      <ion-col>
        Online
      </ion-col>
      <ion-col>
        Tickets
      </ion-col>
      <ion-col>
        Opened
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        6057
      </ion-col>
      <ion-col>
        19
      </ion-col>
      <ion-col>
        49
      </ion-col>
      <ion-col>
        7
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div>Daily Access</div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-12>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </ion-col>
      </ion-row>
    </ion-grid>
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/advance-card-bttf.png">
    <!-- <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
          Whoa. This is heavy.</p>
      </ion-card-content> -->
  </ion-card>
</ion-content>