<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.Dashboard' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-card *ngIf="dashboard">
    <ion-grid>
      <ion-row text-center>
        <ion-col>
          <b>{{'Users' | translate}}</b>
        </ion-col>
        <ion-col>
          <b>{{'Online' | translate}}</b>
        </ion-col>
        <ion-col>
          <b>{{'Tickets' | translate}}</b>
        </ion-col>
        <ion-col>
          <b>{{'Opened' | translate}}</b>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          {{dashboard.UsersActive}}
        </ion-col>
        <ion-col>
          {{dashboard.UsersOnline}}
        </ion-col>
        <ion-col>
          {{dashboard.Tickets}}
        </ion-col>
        <ion-col>
          {{dashboard.TicketsOpened}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="dashboard">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <b>{{'DailyAccess' | translate}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="dashboard">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <b>{{'BillingSummary' | translate}}</b>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          <b>{{'Revenues' | translate}}</b>
        </ion-col>
        <ion-col>
          <b>{{'Expenses' | translate}}</b>
        </ion-col>
        <ion-col>
          <b>{{'Unbilled' | translate}}</b>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          {{dashboard.BillingSummary.Revenues}}
        </ion-col>
        <ion-col>
          {{dashboard.BillingSummary.Expenses}}
        </ion-col>
        <ion-col>
          {{dashboard.BillingSummary.Unbilled}}
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          {{'InvestmentsByType' | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="dashboard">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <b>{{'Trainings' | translate}}</b>
        </ion-col>
      </ion-row>
      <ion-row text-center style="font-size: 8px;">
        <ion-col col-3>
          <b>{{'HistoryStatus.ENROLLED' | translate}}</b>
        </ion-col>

        <ion-col col-3>
          <b>{{'HistoryStatus.FAIL' | translate}}</b>
        </ion-col>

        <ion-col col-3>
          <b>{{'HistoryStatus.IN_PROGRESS' | translate}}</b>
        </ion-col>

        <ion-col col-3>
          <b>{{'HistoryStatus.PASS' | translate}}</b>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-3>
          {{dashboard.TrainingStatus.Values[0]}}
        </ion-col>
        <ion-col col-3>
          {{dashboard.TrainingStatus.Values[1]}}
        </ion-col>
        <ion-col col-3>
          {{dashboard.TrainingStatus.Values[2]}}
        </ion-col>
        <ion-col col-3>
          {{dashboard.TrainingStatus.Values[3]}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <canvas #pieCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>