<ion-header>
  <ion-navbar>
    <ion-title>
      {{'TitlePage.Logistics' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-8 padding-vertical>
        <b>{{classCode}}</b>
        <p><b>{{'TotalCost' | translate}}:</b>
          <span class="expense">{{logisticStore.logistic?.ClassAPI.QtyLogistic}}</span></p>
      </ion-col>
      <ion-col col-4 text-right>
          <button ion-button color="primary" (click)="addLogistic()">
              {{'Add' | translate}}
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let logistic of logisticStore.logistic?.LogisticItemsXClass">
    <ion-list>
      <ion-item-sliding #item>
        <ion-item>
          <ion-grid>
            <ion-row class="border-bottom">
              <ion-col col-6>
                <b>{{'Type' | translate}}</b>
              </ion-col>
              <ion-col col-6 text-right>
                <b>{{'UnitCost' | translate}}</b>
              </ion-col>
              <ion-col col-6>
                {{logistic.Type.Type}}
              </ion-col>
              <ion-col col-6 text-right>
                {{logistic.MonetarySymbol}} {{logistic.Item.UnitCost}}
              </ion-col>
            </ion-row>
            <ion-row class="border-bottom">
              <ion-col col-6>
                <b>Item</b>
              </ion-col>
              <ion-col col-6 text-right>
                <b>{{'Date' | translate}}</b>
              </ion-col>
              <ion-col col-6>
                {{logistic.Item.Item}}
              </ion-col>
              <ion-col col-6 text-right>
                {{logistic.Date | localeDate:currentCulture}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <b>{{'Quantity' | translate}}</b>
              </ion-col>
              <ion-col col-6 text-right>
                <b>{{'TotalCost' | translate}}</b>
              </ion-col>
              <ion-col col-6>{{logistic.Qty}}</ion-col>
              <ion-col col-6 text-right>{{logistic.TotalCostMonetary}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="remove(logistic.ID)">
            <ion-icon name="trash"></ion-icon>
            {{'Remove' | translate}}
          </button>
        </ion-item-options>
        <ion-item-options side="right">
            <button ion-button color="primary" (click)="onClickOpenModalLogistics(logistic)">
              <ion-icon name="open"></ion-icon>
              {{'Edit' | translate}}
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>