<ion-header>
  <ion-navbar>
    <ion-title>
      {{'TitlePage.Logistics' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-6 padding-vertical>
        <b>{{classCode}}</b>
        <p>
          <b>{{'TotalCost' | translate}}:</b> <span class="expense">{{logistics?.ClassAPI.QtyLogistic}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card (click)="onClickOpenModalLogistics(logistic)" *ngFor="let logistic of logistics?.LogisticItemsXClass">
    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>{{'Type' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'UnitCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>
          {{logistic.Type.Type}}
        </ion-col>
        <ion-col col-6 text-right>
          {{logistic.MonetarySymbol}} {{logistic.Item.UnitCost}}
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>Item</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'Date' | translate}}</b>
        </ion-col>
        <ion-col>
          {{logistic.Item.Item}}
        </ion-col>
        <ion-col col-6 text-right>
          {{logistic.Date | localeDate:currentCulture}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>{{'Quantity' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'TotalCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>{{logistic.Qty}}</ion-col>
        <ion-col col-6 text-right>{{logistic.TotalCostMonetary}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>