<ion-header>
  <ion-navbar>
    <ion-title>
      {{'TitlePage.Grades' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col col-6 padding-vertical>
        <b>{{event.Class}}</b>
        <p>
          <b>{{'TotalCost' | translate}}:</b> $ 812,95</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card (click)="onClickOpenModalLogistics()">
    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>{{'Type' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'UnitCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>
          {{'TrainingMaterial' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          $ 0,00
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>Item</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'Date' | translate}}</b>
        </ion-col>
        <ion-col>
          {{'EquipmentRental' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          29/01/2018 14:30h
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>{{'Quantity' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'TotalCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>1</ion-col>
        <ion-col col-6 text-right>$ 750,00</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>{{'Type' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'UnitCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>
          {{'TrainingMaterial' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          $ 0,00
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>Item</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'Date' | translate}}</b>
        </ion-col>
        <ion-col>
          {{'EquipmentRental' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          29/01/2018 14:30h
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>{{'Quantity' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'TotalCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>1</ion-col>
        <ion-col col-6 text-right>$ 750,00</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>{{'Type' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'UnitCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>
          {{'TrainingMaterial' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          $ 0,00
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col col-6>
          <b>Item</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'Date' | translate}}</b>
        </ion-col>
        <ion-col>
          {{'EquipmentRental' | translate}}
        </ion-col>
        <ion-col col-6 text-right>
          29/01/2018 14:30h
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <b>{{'Quantity' | translate}}</b>
        </ion-col>
        <ion-col col-6 text-right>
          <b>{{'TotalCost' | translate}}</b>
        </ion-col>
        <ion-col col-6>1</ion-col>
        <ion-col col-6 text-right>$ 750,00</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>