<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      {{'PreOrPostTest' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="!hide">
      <ion-row padding class="border-bottom">
        <ion-col col-12>
          <b>{{assessmentStore.assessment?.Training.Training}}</b>
        </ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-list radio-group style="width:100%" *ngFor="let q of assessmentStore.assessment?.Questions; let question_index = index">
          <p padding>
            <b>{{q.Question}}</b>
          </p>
          <ion-item *ngFor="let alternative of q.Alternatives; let alternative_index = index">
            <ion-label>{{alternative.Alternative}}</ion-label>
            <ion-radio (ionSelect)="saveAnswer(alternative)" value="{{alternative.ID}}"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <button ion-button full (click)="onClickSubmitEvaluation()">{{'Submit' | translate}}</button>
      </ion-row>
    </ion-grid>
  <ion-grid *ngIf="hide">
    <ion-row>
      <ion-col col-12 text-center>
        <h3>{{assessmentType | translate}}</h3>
      </ion-col>
      <ion-col>
        <p>{{'PrePostTestMsg1' | translate}}</p>
        <p>{{'PrePostTestMsg2' | translate}}</p>
      </ion-col>
    </ion-row>
    <button ion-button full (click)="onClickCurriculumList()">{{'MyCurriculum' | translate}}</button>
  </ion-grid>

</ion-content>