<ion-header>
  <ion-navbar>
    <ion-title>Assessment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="border_bottom">
      <ion-col col-11><b>GORE-TEX Membrane</b></ion-col>
      <ion-col col-1 right>
        <ion-icon name="globe"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Steps</b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-11><b>Pre Test Assessment</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>A pre test assessment is required for this training. We would like to know what you already know about this subject.</p>
        <p>Training status will not change with the result of this assessment.</p>
        <p>Click in the button below to start the assessment:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full>Start</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>