<ion-header>
  <ion-navbar>
    <ion-title>{{'TitlePage.Assessment' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="border_bottom">
      <ion-col col-11><h4><b>{{trainingName}}</b></h4></ion-col>
      <ion-col col-1 right>
        <ion-icon name="globe"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>{{'Step' | translate}}</b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-11><b>{{assessmentType | translate}}</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{msg1}}</p>
        <p>{{'AssessmentMsg2' | translate}}</p>
        <p>{{'AssessmentMsg3' | translate}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="onClickOpenAssessment()">{{'Start' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>